@page "/"
@using BlazorASG.Components.Card
@using BlazorASG.Components.New
@using BlazorASG.Data.TItem
@using BlazorASG.Components.pricing
@using BlazorASG.Components.Index

<!-- Nev قالب 1 ملف  -->

<IconCardpositionSevicis />

@* <CardStart />
 *@
<div>
	<!-- Caerd قالب 2 ملف  -->

	<Timalcard />
@* 	<CaerdSevicis />
 *@</div>
		
<div style="padding: 25px;position:relative"	>		
		
	
@* 	<span>
		<svg class="position-absolute bottom-0 start-0 mb-n1 mb-lg-n4" viewBox="0 0 1920 149" style="enable-background:new 0 0 1920 149; z-index: 4" xml:space="preserve">
		<path class="text-secondary" d="M873.3,37.9C775,19.2,603.7-11.5,433.5,4.4C275.1,19.3,45.1,43.4-12,4.4v121V149l1946-2.6V97.6 c-109.9-35.9-230.6-93.1-468.8-75.4C1260.2,37.3,1089.7,79,873.3,37.9z" fill="#000"></path>
		</svg>
	</span> *@
	</div>

<NumberCard />
<!-- ServicisCard قالب 3 ملف  -->

<SectionSercicis/>
<!-- Icon قالب 4 ملف  -->

<Mainicon />
<Fdnull />
<!-- Pricing قالب 5 ملف  -->

		<PricingPlanServicis  />
<!-- Pricing قالب 5 ملف  -->

 	<PricingPlanAlias />
<!-- Index قالب 6 ملف  -->

<Footer />
